include COPYING.txt
include README.txt

recursive-include i18n *.pot *.po

graft src/vigilo/vigiconf/conf.d
graft src/vigilo/vigiconf/validation
graft src/vigilo/vigiconf/test/testdata

include src/vigilo/vigiconf/applications/*/*.sh
graft src/vigilo/vigiconf/applications/*/templates
include pkg/vigilo-vigiconf.in

include settings_tests.ini
include settings.ini.in
