# SSH config file for remote deployment
# This file is part of the Enterprise Edition
StrictHostKeyChecking no
IdentityFile /var/lib/vigilo-confmgr/db/confmgr.key
UserKnownHostsFile /var/lib/vigilo-confmgr/db/known_hosts
HashKnownHosts yes
